{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <img src="{{ post.author.profile.image.url }}" class="rounded-circle" width="100px" height="100px">
        <a href="#" class="ml-2 mr-2">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
        <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>        
        <div class="border-bottom"></div>
        <br>        
    {% endfor %}
{% endblock content %}

